<h1><%= @article.title %></h1>
<p><%= @article.body %></p>
<br />
<p><%= link_to "Edit", edit_article_path(@article)%></p>
<br />
<p>
    Tags:
    <% @article.tags.each do |tag| %>
        <%= link_to tag.name, tag_path(tag) %>
    <% end  %>
</p>

<h3>Comments (<%= @article.comments.size %>) </h3>
<%= render partial: 'articles/comment', collection: @article.comments %>
<%= render partial: 'comments/form' %>
<%= link_to "<< Back to Articles List", articles_path%>
<%= link_to "delete", article_path(@article), method: :delete, data: {confirm: "R U SURE M9???"}%>

<h4> Posted <%= distance_of_time_in_words(@article.created_at, Time.now) %> ago</h4>





